/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.elm11 {

    width: 150px;
    height: 18px;
    left: 973px;
    top: 67px;

    font-family: 'Fauna One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.elm1 {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 1152px;
    top: 48px;

    background: #550F4C;
    border-radius: 101px;

}

.elm22 {
    width: 150px;
    height: 18px;
    left: 973px;
    top: 67px;

    font-family: 'Fauna One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.elm2 {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 1320px;
    top: 48px;

    background: #550F4C;
    border-radius: 101px;
}




.line11 {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 158px;

    border: 1px solid #550F4C
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    column-gap: 30px;
}

.form {

    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    background: #FFF;
    box-sizing: border-box;
    border: 1px solid #550F4C;

    position: absolute;

    left: auto;
    top: 287px;
}





.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}



header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
    font-family: 'Fauna One';
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 120px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 120px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #016dcb;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff;
    background-color: #4267b2;
}

a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.facebook-icon,
img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid #CACACA;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}


/*img emplacement*/
.img-bord{
    position: absolute;
width: 250px;
height: 250px;
left: calc(50% - 350px/2 - 486px);
top: calc(50% - 350px/2 - 112px);
}

.text{
    font-family: 'Fauna One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
left: 469px;
top: 225px;
}

.block1{
    display: block;
}

.img{
    height: 350px;
    width: 350px;
}

.block2{
    position: absolute;
    left: calc(50% - 350px/2 - 486px);
    top: 200px;
}

.block3 {
    display:block;
    justify-content: space-between;
    position: absolute;
    left: 380px;
    top: 0px;
    width: max-content;
    height: 900px;
}

.info{
    padding-top: 20px;
    padding-bottom: 20px;

}

.txt{
    
    font-family: 'Fauna One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}
.btnupdt{
    position: absolute;
width: 207px;
height: 60px;
left: 620px;
top: 500px;

background: #67D027;
border-radius: 101px;
border: #67D027;
text-decoration: none;
}

.updt{
    
width: 69px;
height: 18px;
text-decoration: none;
font-family: 'Fauna One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #fff;

}

.btndlt{
    position: absolute;
width: 207px;
height: 60px;
left: 850px;
top: 500px;

background: #D03127;
border-radius: 101px;
border: #D03127;
text-decoration: none;
}

.dlt{
    
width: 69px;
height: 18px;
text-decoration: none;
font-family: 'Fauna One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #fff;

}



@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}